:root{
    font-size: 10px;
}
body{
    background-color: #FFE7D6;
}
.bodyCustom{
    display: grid;
    grid-template-rows: 150px auto auto 150px;
}
.bodyCustomOrder{
    display: grid;
    grid-template-rows: 150px auto 100px 120px;
}
h1{
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    opacity: 0.90;
}
li{
    list-style-type: none;
}
section{
    padding: 15px;
}
.logo{
    grid-area: logo;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}
.mainMenu{
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.caractButton{
    background-color: #FFE7D6 ;
    border: none;
    cursor: pointer;
}
.closeMenu{
    display: none;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    color: grey;
}
.openMenu{
    font-size: 2rem;
    color: black;
}
header nav{
    grid-area: nav;
    justify-self: center;
    text-align: center;
    align-self: center;
    display: flex;
}
header p{
    grid-area: text;
    justify-self: center;
    align-self: center;
    padding: 15px;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "logo nav"
    "text text";
}
@media screen and (max-width: 425px) {
    .mainMenu{
        flex-direction: column;
    }
}
#sectionPaper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    grid-gap: 20px;
}
article{
    height: 100%;
}
.hoverindex:hover{
    box-shadow: 1px 1px 8px grey;
    opacity: 0.95;
    transition: 300ms;
}
figure{
    border: 1px solid #cecece;
    border-radius: 20px;
    box-shadow: 1px 1px 8px #c0bebe;
    height: 100%;
}
.figcaptionCustom{
    height: 50px;
    display: flex;
    align-items: center;
}
figcaption{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 20px 20px;
}
img{
    border-radius: 20px 20px 0 0;
}

.text-center{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    background-color: #cecece;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

td,th{
    border: 1px solid grey;
}
table{
    border-collapse: collapse;
    width: 100%;
    height: 50px;
}
th{
    height: 20px;
}
input{
    margin: 5px;
}
.titlePaper{
    font-size: 1.2rem;
    font-weight: bold;
}
#sectionBasket div{
    margin-bottom: 10px;
}
td{
    padding: 5px;
}


footer{
    border: 1px solid #c0bebe;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
#addbasket{
    margin-top: 10px;
    margin-bottom: 10px;
}
.order{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#tableau{
    margin-bottom: 1.5rem;
}
#basketNull{
    text-align: center;
    font-weight: bold;
}
.center{
    text-align: center;
}